* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: whitesmoke;
}

.main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.button1 {
    background-color: #adb8ad;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.button2 {
    background-color: #b2cab2;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 80px;
    height: 80px;
}

.light {
    background: whitesmoke;
}


/*  DARK */

.dark {
    background-color: #333;
}

.container.dark .main,
.container.dark .header,
.container.dark .card {
    background-image: url('../img/3137472.jpg');
}

.container.dark p,
.container.dark h1,
.container.dark a,
.container.dark label {
    color: #f4f4f4;
}

.container.dark .header,
.container.dark .footer {
    box-shadow: 0 0 8px gray;
}

.container.dark .card {
    background-color: #333333;
}

.container.dark input {
    background-color: #666566;
    color: white;
}

.container.dark .button1 {
    background-color: #918d8d;
}


/*  RETRO */

.retro {
    background-color: rgb(41, 3, 34);
}

.container.retro .main,
.container.retro .header,
.container.retro .card {
    background-image: url('../img/retro2.jpg');
}

.container.retro p,
.container.retro h1,
.container.retro a,
.container.retro label {
    color: #cc9ae0;
}

.container.retro .header,
.container.retro .footer {
    box-shadow: 0 0 8px #9d21ce;
}

.container.retro input {
    background-color: #e6c5e6;
    color: #9d21ce;
}

.container.retro .button1 {
    background-color: #9d21ce;
}